html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

.menu{
  padding-bottom: 2em;
}

/* Messages.js */
.messages {
  height: 64vh;
  overflow-y: scroll;
}

.message__form{
  position: fixed !important;
  bottom: 1em;
  left:0;
  right: 1em;
  margin-left: 320px !important;
  z-index: 200;
}

.message__self{
  border-left: 1px solid orange;
  padding-left: 8px;
}
.message__image{
  padding:1em;
}

/* progressbar.js */
.progress__bar{
  margin-top: 0.3em;
}